/* Figure display */

.treebark-container {
    display: flex;
    flex-wrap: wrap; /* Figures will be side-by-side on a wide screen */
    gap: 2px; /* Adds space between figures */
    margin-top: 20px;
    margin-bottom: 20px;
}

.treebark-container figure {
    flex-basis: calc(33.33% - 4px); /* Three items per row, and gap */
}

.treebark-container img {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .treebark-container figure {
        flex-basis: calc(50% - 4px);
    }
}

/* Filter */

.treebark-container .hidden {
  display: none;
}

/* Upvote, downvote, and sort */

.vote-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.upvote-btn {
  background-color: #2e7d32;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  border-width: thin;
}

.downvote-btn {
  background-color: white;
  color: black;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  border-width: thin
}

.vote-count {
  font-weight: bold;
}

/* Dangerous action button */

/* Other button styles */

.dangerous-action-button {
  /* Accessible red with high contrast white text */
  background-color: #b30000; /* A dark red */
  color: #ffffff; /* White text for contrast */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;

  /* Add padding to account for the icon */
  padding-left: 28px;
  position: relative;
}

/* Add a visual cue with a Unicode warning icon */
.dangerous-action-button::before {
  content: '⚠️'; /* Warning emoji */
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.dangerous-action-button:hover {
  background-color: #800000; /* Darken on hover */
}

