.treebark-container {
    display: flex;
    flex-wrap: wrap; /* Figures will be side-by-side on a wide screen */
    gap: 2px; /* Adds space between figures */
}

.treebark-container figure {
    flex-basis: calc(33.33% - 4px); /* Three items per row, and gap */
}

.treebark-container img {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .treebark-container figure {
        flex-basis: 100%
    }
}
