.multiple-movies {
    color: #2a7ae2;
    text-decoration: none;
}

.multiple-movies:hover {
    text-decoration: underline;
}

.active {
    background-color: #2a7ae2;
    color: white;
    border-radius: 2px;
    padding: 0px 2px;
}